Package: com.darwindev.uicached
Name: uicached
Version: 1.0-1
Description: Rebuild icon database when respring
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Architecture: iphoneos-arm
Author: i_82 <i.82@me.com>
Maintainer: i_82 <i.82@me.com>
